.disclaimer-hero {
    background: linear-gradient(0deg, #eff0f6, rgba(239, 240, 246, 0) 73.43%);
    border-radius: 0 0 56px 56px;
    height: 657px;
    overflow: hidden;
    position: absolute;
}

.disclaimer-content {
    background: #fff;
    border-radius: 18px 0;
    box-shadow: 0 32px 64px hsl(0deg 0% 7% / 8%);
    margin-bottom: 20rem;
    position: relative;
    top: 147px;
}