body {
    --accent-orange-red: #fa4833;
    --accent-red: #e30613;
    --accent-red-ed: #ed636c;
    --accent-red-fc: #fc4f36;
    --accent-red-ff: #ff0000;
    --accent-red-f1: #f13227;
    --accent-red-2: #e30713;
    --accent-red-f8: #f84531;
    --accent-red-e5: #e50d15;
    --red-ff: #ffbdaa;
    --orange: #ff523c;
    --orange-f9: #f94732;
    --title-dark: #282828;
    --title-dark-00: #001922;
    --title-dark-02: #020202;
    --title-dark-47: #474747;
    --text-dark: #4d4d4d;
    --text-dark-3a: #3a3a3a;
    --text-dark-33: #333333;
    --text-dark-3f: #3f3f3f;
    --text-gray-a2: #a2a2a2;
    --text-gray-7d: #7d7d7d;
    --text-gray-8b: #8b8b8b;
    --text-gray-b2: #b2b2b2;
    --text-gray-e0: #e0e0e0;
    --light-gray-eb: #ebebeb;
    --light-gray-a4: #a4a4a4;
    --light-gray-c4: #c4c4c4;
    --light-gray-d8: #d8d8d8;
    --light-gray-d9: #d9d9d9;
    --light-gray-f4: #f4f4f4;
    --light-gray-f5: #f5f5f5;
    --light-gray-f6: #f6f6f6;
    --light-gray-f8-bg: #f8f4f6;
    --light-gray-99: #999999;
    --light-gray-f8: #f8f4f6;
    --light-gray-dc: #dcdcdc;
    --light-gray-ed: #ededed;
    --accent-blue: #219ee1;
    --accent-yellow: #f3ba2f;
    --accent-chain-red: #e84142;
    --accent-purple: #4966d6;
    --accent-blue-20: #2081e2;
    --accent-green: #52a8a4;
    --accent-green-63: #63edab;
    --light-purple: #d2d1ff;
    --black: #000000;
    --white: #ffffff;
    --white-theme: #ffffff;
    --black-theme: #000000;
    --black-theme-opacity: 0, 0, 0;
    --grey-73: #737373;
    --dark-gray-3a: #3a3b42;
    --gray-39: #393a41;
    --black-26: #26272f;
    --black-09: #090a13;
    --grey-b2: #b2b2b2;
    --gray-25: #25262e;
}

body.dark {
    --accent-orange-red: #fa4833;
    --accent-red: #e30613;
    --accent-red-ed: #ed636c;
    --accent-red-fc: #fc4f36;
    --accent-red-ff: #ff0000;
    --accent-red-f1: #f13227;
    --accent-red-2: #e30713;
    --accent-red-f8: #f84531;
    --accent-red-e5: #ff7360;
    --red-ff: #ffffff;
    --orange: #ff523c;
    --orange-f9: #f94732;
    --title-dark: #fff;
    --title-dark-00: #fff;
    --text-dark-3a: #fff;
    --text-dark-33: #fff;
    --title-dark-02: #fff;
    --title-dark-02: #020202;
    --title-dark-47: #474747;
    --text-dark: #c2c2c2;
    --text-dark-3f: #3f3f3f;
    --text-gray-a2: #a2a2a2;
    --text-gray-7d: #7d7d7d;
    --text-gray-8b: #8b8b8b;
    --text-gray-b2: #b2b2b2;
    --text-gray-e0: #e0e0e0;
    --light-gray-eb: #ebebeb;
    --light-gray-a4: #a4a4a4;
    --light-gray-c4: #c4c4c4;
    --light-gray-d8: #d8d8d8;
    --light-gray-d9: #d9d9d9;
    --light-gray-f4: #f4f4f4;
    --light-gray-f5: #f5f5f5;
    --light-gray-f6: #f6f6f6;
    --light-gray-f8-bg: #090a13;
    --light-gray-99: #999999;
    --light-gray-f8: #26272f;
    --light-gray-dc: #3e3d44;
    --light-gray-ed: #504f56;
    --accent-blue: #219ee1;
    --accent-yellow: #f3ba2f;
    --accent-chain-red: #e84142;
    --accent-purple: #4966d6;

    --accent-blue-20: #2081e2;
    --accent-green: #52a8a4;
    --accent-green-63: #63edab;
    --light-purple: #d2d1ff;
    --black: #000000;
    --white: #ffffff;
    --white-theme: #151519;
    --black-theme: #ffffff;
    --black-theme-opacity: 255, 255, 255;
    --grey-73: #737373;
    --dark-gray-3a: #3a3b42;
    --black-26: #26272f;
    --black-09: #090a13;
    --grey-b2: #b2b2b2;
    --gray-25: #25262e;
}

$accent-orange-red: var(--accent-orange-red);
$accent-red: var(--accent-red);
$accent-red-ed: var(--accent-red-ed);
$accent-red-fc: var(--accent-red-fc);
$accent-red-ff: var(--accent-red-ff);
$accent-red-f1: var(--accent-red-f1);
$accent-red-2: var(--accent-red-2);
$accent-red-f8: var(--accent-red-f8);
$accent-red-e5: var(--accent-red-e5);
$red-ff: var(--red-ff);
$orange: var(--orange);
$orange-f9: var(--orange-f9);
$title-dark: var(--title-dark);
$text-dark-3a: var(--text-dark-3a);
$text-dark-33: var(--text-dark-33);
$title-dark-00: var(--title-dark-00);
$title-dark-02: var(--title-dark-02);
$title-dark-47: var(--title-dark-47);
$text-dark: var(--text-dark);
$text-dark-3f: var(--text-dark-3f);
$text-gray-a2: var(--text-gray-a2);
$text-gray-7d: var(--text-gray-7d);
$text-gray-8b: var(--text-gray-8b);
$text-gray-b2: var(--text-gray-b2);
$text-gray-e0: var(--text-gray-e0);
$light-gray-eb: var(--light-gray-eb);
$light-gray-a4: var(--light-gray-a4);
$light-gray-c4: var(--light-gray-c4);
$light-gray-d8: var(--light-gray-d8);
$light-gray-d9: var(--light-gray-d9);
$light-gray-f4: var(--light-gray-f4);
$light-gray-f5: var(--light-gray-f5);
$light-gray-f6: var(--light-gray-f6);
$light-gray-f8-bg: var(--light-gray-f8-bg);
$light-gray-99: var(--light-gray-99);
$light-gray-f8: var(--light-gray-f8);
$light-gray-dc: var(--light-gray-dc);
$light-gray-ed: var(--light-gray-ed);
$accent-blue: var(--accent-blue);
$accent-yellow: var(--accent-yellow);
$accent-chain-red: var(--accent-chain-red);
$accent-purple: var(--accent-purple);
$accent-blue-20: var(--accent-blue-20);
$accent-green: var(--accent-green);
$accent-green-63: var(--accent-green-63);
$light-purple: var(--light-purple);
$black: var(--black);
$white: var(--white);
$white-theme: var(--white-theme);
$black-theme: var(--black-theme);
$black-theme-opacity: var(--black-theme-opacity);
$black-26: var(--black-26);
$black-09: var(--black-09);
$grey-b2: var(--grey-b2);
$grey-73: var(--grey-73);
$dark-gray-3a: var(--dark-gray-3a);
$gray-39: var(--gray-39);
$gray-25: var(--gray-25);